<div class="container">
	<div class="c-info-section">
		
			<div class="c-info-section__caption-title">
				<h4><span class="pr-3">What We Do</span></h4>
			</div>
		

		
			<div class="c-info-section__title"><h2>Perfect solutions for your business</h2></div>
		

		

		<div class="row 
					c-info-section__row">
			
				
				

				<div class="col-lg-6 
							text-center">
					<div class="c-info-section__info-column">
						
							<div class="c-info-section__analyze-column_column-image">
								<img alt="Icon image" class="img-fluid" data-cms-original-src="/assets/images/about/code-editor-icon.png" src="/assets/images/microsoft-dotnet.svg" width="87px">
							</div>
						
							<div class="c-spacer" style="height:15px;"> </div>
						<!--
							<div class="c-info-section__analyze-column_column-title">
								<h3>Custom software development</h3>
							</div>
						--->

						
							<div class="c-info-section__analyze-column_column-content">
								<p></p><p>Microsoft .NET stands as a premier framework for crafting secure, scalable, and high-performance enterprise applications. At Integross, we excel in guiding clients towards embracing top-tier, bespoke .NET solutions. With over fifteen years of experience, we immerse ourselves in understanding our clients' business challenges, delivering swift and measurable results. As a leading .NET application development company, our seasoned .NET software developers have crafted numerous applications leveraging ASP.NET, .NET Core, C#, VB.NET, MVC, WPF, MVVM, and Entity Framework.</p>
							</div>
						

						
							<a class="btn 
									  outline-btn 
									  c-info-section__column-button" href="/dot-net-development">View more</a>
						
					</div>
				</div>
			
				
				

				<div class="col-lg-6 
							text-center">
					<div class="c-info-section__info-column">
						
							<div class="c-info-section__analyze-column_column-image">
								<img alt="Icon image" class="img-fluid" data-cms-original-src="/assets/images/about/mobile-development.png" src="/assets/images/nodejs.svg" height="60px">
							</div>
						
                             <div class="c-spacer" style="height:45px;"> </div>
						
							<!--<div class="c-info-section__analyze-column_column-title">
								<h3>Mobile development</h3>
							</div>-->
						

						
							<div class="c-info-section__analyze-column_column-content">
								<p>Node.js is renowned for its robust data exchange capabilities, particularly with high-demand services. At Integross, we specialize in deploying cloud-based and serverless applications, leveraging our extensive expertise. Crafting Node.js applications necessitating asynchronous programming, scalability, and top-notch performance, such as chat platforms, IoT data processing, and collaboration tools, is our forte. Our Node.js development services cater to building highly scalable and real-time web applications, tailored precisely to meet our clients' business requirements, ensuring cutting-edge solutions consistently.</p>
							</div>
						

						
							<a class="btn 
									  outline-btn 
									  c-info-section__column-button" href="/mobile-app-development">View more</a>
						
					</div>
				</div>
			
				
				

				<div class="col-lg-6 
							text-center">
					<div class="c-info-section__info-column">
						
							<div class="c-info-section__analyze-column_column-image">
								<img alt="Icon image" class="img-fluid" data-cms-original-src="/assets/images/about/product-design.png" src="/assets/images/rails.svg" width="87px">
							</div>
						

							<div class="c-spacer" style="height:45px;"> </div>
							<!--<div class="c-info-section__analyze-column_column-title">
								<h3>Software product development</h3>
							</div>-->
						

						
							<div class="c-info-section__analyze-column_column-content">
								<p>Elevate your web application development with our full-stack rapid development framework, tailored precisely to your business requirements. Integross harnesses the power of Ruby on Rails, providing a wide range of custom web application development services characterized by rapid prototyping and robust architecture, ideal for modern businesses.</p>
							</div>
						

						
							<a class="btn 
									  outline-btn 
									  c-info-section__column-button" href="/software-product-development">View more</a>
						
					</div>
				</div>
			
				
				
				<!-- hidden 4th service 
				<div class="col-lg-6 
							text-center">
					<div class="c-info-section__info-column">
						
							<div class="c-info-section__analyze-column_column-image">
								<img alt="Icon image" class="img-fluid" data-cms-original-src="/assets/images/about/cloud-icon.png" src="/assets/images/about/cloud-icon.png?_cchid=19f43d9eb9c2a6122864fad180e43a67" width="87px">
							</div>
						

						
							<div class="c-info-section__analyze-column_column-title">
								<h3>Dedicated development team</h3>
							</div>
						

						
							<div class="c-info-section__analyze-column_column-content">
								<p></p><p>At Integross, we empower customers to focus on their core business strengths by offering the flexibility to hire dedicated development teams, business analysts, DevOps engineers, testers, quality assurance specialists, and project managers. This allows for meticulous oversight of project plans, sprints, and day-to-day activities, ensuring optimal performance of the core team.</p><p></p>
							</div>
						

						
							<a class="btn 
									  outline-btn 
									  c-info-section__column-button" href="/dedicated-development-team">View more</a>
						
					</div>
				</div>
				-->
			
		</div>
	</div>
</div>