<div class="c-call-to-action">
	<div class="container">
		<div class="c-call-to-action__inner">
			<div class="row">
				<div class="col-md-2"></div>
				<div class="col-md-8">
					<div class="c-call-to-action__content">
						
							<h3>Discuss your project &amp; business goals with us!</h3>
						

						
							<p></p><p>We'll customize a business plan just for you.&nbsp;</p><p></p>
						
					</div>
					
						<div class="c-call-to-action__button">
							<a class="btn" href="" role="button">Contact us now</a>
						</div>
					
				</div>
				<div class="col-md-2"></div>
			</div>

			
				<span></span>
			
				<span></span>
			
				<span></span>
			
				<span></span>
			
				<span></span>
			
				<span></span>
			
				<span></span>
			
				<span></span>
			
				<span></span>
			
				<span></span>
			
				<span></span>
			
				<span></span>
			
				<span></span>
			
				<span></span>
			
				<span></span>
			
				<span></span>
			
				<span></span>
			
				<span></span>
			
				<span></span>
			
		</div>
	</div>
</div>