<section class="l-post-content-section" style="margin-top: -200px">
	<div class="container">
		<div class="l-post-content-section">
			
				<!--
				<div class="l-post-content-section__post-image" data-cms-original-style="background-image: url('/assets/images/blogs/image-37.jpg');" style="background-image: url(/assets/images/blogs/image-37.jpg?_cchid=10fe6a2ec07e09ac0c3aea91580cc8c5);"></div>
				-->

			<div class="row">
				
				<div class="			col-lg-8 								col-md-12 							">
					
					<div class="l-post-content-section__content" data-cms-content-wrapper="/site/_includes/post-layout.html">

						<p><strong>INTEGROSS Inc.</strong><br>
						50 Causeway St<br>
						HUB50<br>
						Boston, MA 02114<br>
						P: <a href="tel:+13392046004">+1-339-204-6004</a><br>
						E: <a href="mailto:privacy@integross.com">privacy@integross.com</a></p>
					</div>
				</div>

			</div>
		</div>
	</div>
</section>