<div class="c-icon-module
			c-icon-module__right">
	<div class="container">
		<div class="row">
			<div class="col-md-5 
						c-icon-module__left-section 
						order-1">
				<div class="c-icon-module__heading-wrapper">
					
						<div class="c-icon-module__caption-title">
							<h4><span>Why Us</span></h4>
						</div>
					

					
						<div class="c-icon-module__heading">
							<h1>What makes us stand out</h1>
						</div>
					
				</div>
			</div>
			<div class="col-md-7 
						mb-5 
						mb-md-0
						c-icon-module__right-lg-section 
						order-2">
				<div class="c-icon-module__background-color">
					
						<div class="c-icon-module__based-plans">
							<div class="row">
								<div class="col-sm-3">
									
										<div class="c-icon-module__icon-image">
											<img alt="Icon image" class="img-fluid" data-cms-original-src="/assets/images/homepage/perfect-strategy.png" src="/assets/images/homepage/perfect-strategy.png">
										</div>
									
								</div>
								<div class="col-sm-9">
									
										<h4> Cost Efficiency</h4>
									

									
										<p></p><p>Quality solutions, cost-effective execution: where excellence meets affordability.</p><p></p>
									

									
										<div class="c-icon-module__icon-button">
											<a class="btn" href="" role="button">Take aim with us <i class="fas fa-long-arrow-alt-right"></i>
											</a>
										</div>
									
								</div>
							</div>
						</div>
					
						<div class="c-icon-module__based-plans">
							<div class="row">
								<div class="col-sm-3">
									
										<div class="c-icon-module__icon-image">
											<img alt="Icon image" class="img-fluid" data-cms-original-src="/assets/images/homepage/innovate-ideas.png" src="/assets/images/homepage/innovate-ideas.png">
										</div>
									
								</div>
								<div class="col-sm-9">
									
										<h4>Access to skills</h4>
									

									
										<p></p><p>Unlocking expertise, elevating projects: harnessing diverse proficiency for industry-leading solutions.</p><p></p>
									

									
										<div class="c-icon-module__icon-button">
											<a class="btn" href="" role="button">Let's get innovating! <i class="fas fa-long-arrow-alt-right"></i>
											</a>
										</div>
									
								</div>
							</div>
						</div>
					
						<div class="c-icon-module__based-plans">
							<div class="row">
								<div class="col-sm-3">
									
										<div class="c-icon-module__icon-image">
											<img alt="Icon image" class="img-fluid" data-cms-original-src="/assets/images/homepage/effective-solution.png" src="/assets/images/homepage/effective-solution.png">
										</div>
									
								</div>
								<div class="col-sm-9">
									
										<h4>Focus on core competencies</h4>
									

									
										<p></p><p>Outsourcing software development allows your organization to concentrate on its core competencies.</p><p></p>
									

									
										<div class="c-icon-module__icon-button">
											<a class="btn" href="" role="button">Find out more <i class="fas fa-long-arrow-alt-right"></i>
											</a>
										</div>
									
								</div>
							</div>
						</div>
					
				</div>
			</div>
		</div>
	</div>
</div>