<footer class="c-footer">
	<div class="container">
		
			<div class="row">
				<div class="col-lg-4">
						<div class="c-footer__footer-column">
							
								<div class="c-footer__footer-logo">
									<a data-cms-original-style="background-image: url('/assets/images/logo/integross-logo.svg')" href="/" style="background-image: url(/assets/images/logo/ig-long-4.png);height:45px;width:195px"></a>
								</div>
							
							<div class="c-footer__footer-content">
								
									<p>Integross: Bridging the Gap in IT and Software Development.</p>
								
							</div>

							
								<div class="c-footer__copyright-social-icon">
									<ul class="list-inline text-left">
										
											<!-- Linkedin link add link-->
											<li class="list-inline-item">
												<a href="#"><i class="fab fa-linkedin"></i></a>
											</li>
										
										
											<!-- Twitter link add link -->
											<li class="list-inline-item">
												<a href="#"><i class="fab fa-twitter"></i></a>
											</li>
										
										
											<!-- Facebook link add link -->
											<li class="list-inline-item">
												<a href="#"><i class="fab fa-facebook"></i></a>
											</li>
										
									</ul>
								</div>
							
						</div>
				</div>

				<div class="col-lg-8">
					<div class="row">
						
							<div class="col-lg-4 col-md-6 col-6 c-footer__footer-column">
								
									<h4 class="c-footer__footer-heading">Services</h4>
								
								<ul class="list-unstyled">
									
										<li>
											
												
												
													<a href="/custom-software-development">Custom software development</a>
												
											
										</li>
									
										<li>
											
												
												
													<a href="/dedicated-development-team">Dedicated development team</a>
												
											
										</li>
									
										<li>
											
												
												
													<a href="/software-product-development">Software product development</a>
												
											
										</li>
									
										<li>
											
												
												
													<a href="/mobile-app-development">Mobile app development</a>
												
											
										</li>
									
								</ul>
							</div>
							
						
							<div class="col-lg-4 col-md-6 col-6 c-footer__footer-column">
								
									<h4 class="c-footer__footer-heading">Technologies</h4>
								
								<ul class="list-unstyled">
									
										<li>
											
												
												
													<a href="/microsoft-dot-net">.net</a>
												
											
										</li>
									
										<li>
											
												
												
													<a href="/javascript">javascript</a>
												
											
										</li>
									
										<li>
											
												
												
													<a href="/node-js">node.js</a>
												
											
										</li>
									
										<li>
											
												
												
													<a href="/android">Android</a>
												
											
										</li>
									
								</ul>
							</div>
							
						
							<div class="col-lg-4 col-md-6 col-6 c-footer__footer-column">
								
									<h4 class="c-footer__footer-heading">Company</h4>
								
								<ul class="list-unstyled">
									
										<li>
											
												
												
													<a href="/about">About</a>
												
											
										</li>
									
										<li>
											
												
												
													<a href="/news">News</a>
												
											
										</li>
									
										<li>
											
												
												
													<a href="/careers">Careers</a>
												
											
										</li>
									
										<li>
											
												
												
													<a href="/contact">Contact us</a>
												
											
										</li>
										<li>
											
												<h4 class="c-footer__footer-heading">Unites States</h4>
										</li>
										<li>
												<a href="/contact">50 Causeway St,</a>
										</li>
										<li>
												<a href="/contact">HUB50</a>
										</li>
										<li>
												<a href="/contact">Boston, MA 02114</a>
										</li>
										<li>
												<a href="/contact">+1 339-204-6004</a>
										
										</li>
									
								</ul>
							</div>
							
						
					</div>
				</div>
			</div>

			<div class="c-footer__footer-copyright">
				<div class="c-footer__copyright-text">
					
							
							<p>Copyright © Integross 2024. All rights reserved.</p>
							<a href="/privacypolicy">Privacy Policy</a>
						
					
				</div>
			</div>
		</div>
</footer>