<div class="container">
    <div class="c-info-section">
        <div class="c-info-section__caption-title">
            <h4><span class="pr-3">What We Do</span></h4>
        </div>
        <div class="c-info-section__title"><h2>Perfect solutions for your business</h2></div>
        <div class="row c-info-section__row">
            <div class="col-lg-6 text-center">
                <div class="c-info-section__info-column">
                    <div class="c-info-section__analyze-column_column-image">
                        <img alt="Icon image" class="img-fluid" data-cms-original-src="/assets/images/about/code-editor-icon.png" src="/assets/images/angularjs-by-google.svg">  
                    </div>
                    <div class="c-spacer" style="height:15px;"> </div>
                    <div class="c-info-section__analyze-column_column-content">
                        <p text-src="1">AngularJS technologies offer a premier framework for crafting secure, scalable, and high-performance enterprise applications. At Integross, we excel in guiding clients towards embracing top-tier, bespoke AngularJS solutions. With over fifteen years of experience, we immerse ourselves in understanding our clients' business challenges, delivering swift and measurable results. As a leading AngularJS application development company, our seasoned developers have crafted numerous applications leveraging AngularJS, Angular 2+, TypeScript, and RxJS. We adopt modern development approaches such as component-based architecture and reactive programming to ensure efficient and maintainable code.</p>
                    </div>
                    <a class="btn outline-btn c-info-section__column-button" href="/angularjs-development">View more</a>
                </div>
            </div>
            <div class="col-lg-6 text-center">
                <div class="c-info-section__info-column">
                    <div class="c-info-section__analyze-column_column-image">
                        <img alt="Icon image" class="img-fluid" data-cms-original-src="/assets/images/about/mobile-development.png" src="/assets/images/react.svg" height="60px">
                    </div>
                    <div class="c-spacer" style="height:45px;"> </div>
                    <div class="c-info-section__analyze-column_column-content">
                        <p text-src="2">React technologies provide a robust framework for building dynamic and interactive user interfaces. At Integross, we specialize in leveraging React to develop modern web applications with rich user experiences. Crafting React applications necessitating reusable components, efficient state management, and seamless data flow is our forte. Our React development services cater to building highly scalable and responsive web applications, tailored precisely to meet our clients' business requirements. We adopt modern development tools like Redux, React Router, and Redux Saga to ensure efficient development workflows and superior application performance.</p>
                    </div>
                    <a class="btn outline-btn c-info-section__column-button" href="/react-development">View more</a>
                </div>
            </div>
            <div class="col-lg-6 text-center">
                <div class="c-info-section__info-column">
                    <div class="c-info-section__analyze-column_column-image">
                        <img alt="Icon image" class="img-fluid" data-cms-original-src="/assets/images/about/product-design.png" src="/assets/images/vuejs.svg" width="87px">
                    </div>
                    <div class="c-spacer" style="height:45px;"> </div>
                    <div class="c-info-section__analyze-column_column-content">
                        <p text-src="3">Vue.js technologies revolutionize web application development with a progressive and versatile framework. At Integross, we harness the power of Vue.js to deliver cutting-edge web solutions with exceptional user experiences. Our Vue.js development services enable rapid prototyping and deployment of scalable and interactive web applications. Leveraging Vue.js, Vuex, and Vue Router, we build highly performant and feature-rich applications tailored precisely to meet our clients' business needs. With Vue.js, we ensure faster time-to-market and seamless scalability for modern businesses.</p>
                    </div>
                    <a class="btn outline-btn c-info-section__column-button" href="/vuejs-development">View more</a>
                </div>
            </div>
        </div>
    </div>
</div>
