<div class="container">
    <div class="c-info-section">
        <div class="c-info-section__caption-title">
            <h4><span class="pr-3">What We Do</span></h4>
        </div>
        <div class="c-info-section__title"><h2>Best mobile solutions for your business</h2></div>
        <div class="row c-info-section__row">
            <div class="col-lg-6 text-center">
                <div class="c-info-section__info-column">
                    <div class="c-info-section__analyze-column_column-image">
                        <img alt="Icon image" class="img-fluid" data-cms-original-src="/assets/images/about/code-editor-icon.png" src="/assets/images/apple.svg">  
                    </div>
                    <div class="c-spacer" style="height:15px;"> </div>
                    <div class="c-info-section__analyze-column_column-content">
                        <p text-src="1">Apple mobile technologies offer secure, scalable, and high-performance solutions for enterprise applications. At Integross, we excel in guiding clients towards embracing top-tier, bespoke Apple mobile technology solutions. With over fifteen years of experience, we immerse ourselves in understanding our clients' business challenges, delivering swift and measurable results. As a leading Apple mobile technology application development company, our seasoned developers have crafted numerous applications leveraging Swift, SwiftUI, Objective-C, and other Apple frameworks. We harness advanced tools like Xcode, TestFlight, and SwiftUI previews to ensure seamless development and superior user experiences.</p>
                    </div>
                    <a class="btn outline-btn c-info-section__column-button" href="/apple-mobile-development">View more</a>
                </div>
            </div>
            <div class="col-lg-6 text-center">
                <div class="c-info-section__info-column">
                    <div class="c-info-section__analyze-column_column-image">
                        <img alt="Icon image" class="img-fluid" data-cms-original-src="/assets/images/about/mobile-development.png" src="/assets/images/android-logo.svg" height="60px">
                    </div>
                    <div class="c-spacer" style="height:45px;"> </div>
                    <div class="c-info-section__analyze-column_column-content">
                        <p text-src="2">Android mobile technologies provide robust development capabilities for building scalable and feature-rich applications. At Integross, we specialize in deploying Android-based applications, leveraging our extensive expertise in Java and Kotlin programming languages. Crafting Android applications necessitating high-performance and seamless user experiences, such as mobile apps, IoT solutions, and enterprise-grade applications, is our forte. Our Android development services cater to building highly customizable and user-friendly mobile applications, tailored precisely to meet our clients' business requirements, ensuring cutting-edge solutions consistently.</p>
                    </div>
                    <a class="btn outline-btn c-info-section__column-button" href="/android-mobile-development">View more</a>
                </div>
            </div>
            <div class="col-lg-6 text-center">
                <div class="c-info-section__info-column">
                    <div class="c-info-section__analyze-column_column-image">
                        <img alt="Icon image" class="img-fluid" data-cms-original-src="/assets/images/about/product-design.png" src="/assets/images/react-native.svg" width="87px">
                    </div>
                    <div class="c-spacer" style="height:45px;"> </div>
                    <div class="c-info-section__analyze-column_column-content">
                        <p text-src="3">React Native mobile technologies revolutionize mobile application development by providing a powerful cross-platform framework. At Integross, we harness the capabilities of React Native to deliver cutting-edge mobile solutions. Our React Native development services enable rapid prototyping and deployment of mobile applications across iOS and Android platforms. Leveraging JavaScript and React.js, we build highly performant and native-like mobile applications tailored precisely to meet our clients' business needs. With React Native, we ensure faster time-to-market and cost-effective solutions for modern businesses.</p>
                    </div>
                    <a class="btn outline-btn c-info-section__column-button" href="/react-native-development">View more</a>
                </div>
            </div>
        </div>
    </div>
</div>
