<section class="c-latest-blog">
	<div class="container">
		<h2 class="c-latest-blog__title">
			
				News
			
		</h2>

		<div class="row">
			
				<div class="col-md-4">
					<div class="c-latest-blog__blog-post">
						<div class="c-latest-blog__image-wrapper">
							<a href="/blog/integross-presented-software-solutions-in-cambridge-innovation-center">
								<div class="c-latest-blog__post-image" data-cms-original-style="background-image: url('/assets/images/blogs/image-33.jpg');" style="background-image: url(/assets/images/integross-presented-software-solutions-in-cambridge-innovation-center.jpg);">
								</div>
							</a>
						</div>

						<div class="c-latest-blog__post-content">
							
								<p class="c-latest-blog__post-tags">News</p>
							

							<h6 class="latest-posts-title">
								<a href="/blog/integross-presented-software-solutions-in-cambridge-innovation-center">
									Integross presented its software solutions and key projects in Cambridge Innovation Center.
								</a>
							</h6>

							
								<p class="c-latest-blog__post-date">1 Feb 2024</p>
							
						</div>
					</div>
				</div>
			
				<div class="col-md-4">
					<div class="c-latest-blog__blog-post">
						<div class="c-latest-blog__image-wrapper">
							<a href="/blog/how-AI-assistants-changing-the-coding">
								<div class="c-latest-blog__post-image" data-cms-original-style="background-image: url('/assets/images/blogs/image-32.jpg');" style="background-image: url(/assets/images/how-AI-assistants-changing-the-coding.jpg);">
								</div>
							</a>
						</div>

						<div class="c-latest-blog__post-content">
							
								<p class="c-latest-blog__post-tags">Trends</p>
							

							<h6 class="latest-posts-title">
								<a href="/blog/how-AI-assistants-changing-the-coding">
									How AI assistants changing the coding.
								</a>
							</h6>

							
								<p class="c-latest-blog__post-date">10 Dec 2023</p>
							
						</div>
					</div>
				</div>
			
				<div class="col-md-4">
					<div class="c-latest-blog__blog-post">
						<div class="c-latest-blog__image-wrapper">
							<a href="/blog/frontend-development-in-2023">
								<div class="c-latest-blog__post-image" data-cms-original-style="background-image: url('/assets/images/blogs/image-36.jpg');" style="background-image: url(/assets/images/08-11-2023-0.png);">
								</div>
							</a>
						</div>

						<div class="c-latest-blog__post-content">
							
								<p class="c-latest-blog__post-tags">Trends</p>
							

							<h6 class="latest-posts-title">
								<a href="/blog/frontend-development-in-2023">
									Frontend development in 2023
								</a>
							</h6>

							
								<p class="c-latest-blog__post-date">11 Aug 2023</p>
							
						</div>
					</div>
				</div>
			
				<div class="col-md-4">
					<div class="c-latest-blog__blog-post">
						<div class="c-latest-blog__image-wrapper">
							<a href="/blog/pharmaceutical-outsourcing-trends-meeting-market-demands-with-integross-software-outsourcing">
								<div class="c-latest-blog__post-image" data-cms-original-style="background-image: url('/assets/images/blogs/image-37.jpg');" style="background-image: url(/assets/images/pharmaceutical-outsourcing-trends-meeting-market-demands-with-integross-software-outsourcing.jpg);">
								</div>
							</a>
						</div>

						<div class="c-latest-blog__post-content">
							
								<p class="c-latest-blog__post-tags">Industry trends</p>
							

							<h6 class="latest-posts-title">
								<a href="/blog/pharmaceutical-outsourcing-trends-meeting-market-demands-with-integross-software-outsourcing">
									Pharmaceutical outsourcing trends meeting market demands with integross software outsourcing
								</a>
							</h6>

							
								<p class="c-latest-blog__post-date">22 Aug 2022</p>
							
						</div>
					</div>
				</div>
			
				<div class="col-md-4">
					<div class="c-latest-blog__blog-post">
						<div class="c-latest-blog__image-wrapper">
							<a href="/blog/top-4-cloud-computing-trends-in-2022">
								<div class="c-latest-blog__post-image" data-cms-original-style="background-image: url('/assets/images/blogs/image-30.jpg');" style="background-image: url(/assets/images/07-15-2022-0.png);">
								</div>
							</a>
						</div>

						<div class="c-latest-blog__post-content">
							
								<p class="c-latest-blog__post-tags">Trends</p>
							

							<h6 class="latest-posts-title">
								<a href="/blog/top-4-cloud-computing-trends-in-2022">
									Top 4 cloud computing trends in 2022
								</a>
							</h6>

							
								<p class="c-latest-blog__post-date">15 Jul 2022</p>
							
						</div>
					</div>
				</div>
			
				<div class="col-md-4">
					<div class="c-latest-blog__blog-post">
						<div class="c-latest-blog__image-wrapper">
							<a href="/blog/most-trending-cloud-platforms-survey">
								<div class="c-latest-blog__post-image" data-cms-original-style="background-image: url('/assets/images/blogs/image-34.jpg');" style="background-image: url(/assets/images/06-10-2022-0.svg);">
								</div>
							</a>
						</div>

						<div class="c-latest-blog__post-content">
							
								<p class="c-latest-blog__post-tags">Trends</p>
							

							<h6 class="latest-posts-title">
								<a href="/blog/most-trending-cloud-platforms-survey">
									Most trending cloud platforms in 2022
								</a>
							</h6>

							
								<p class="c-latest-blog__post-date">10 Jun 2022</p>
							
						</div>
					</div>
				</div>
			
				</div>

		<div class="text-center">
			
			<!--!Hidden<a class="btn button-standard" href="page/2/">Next</a>-->
		</div>
	</div>
</section>