<section class="l-portfolio">
	<div class="container">
		<div class="l-portfolio__tabs-wrapper">
			<ul class="nav nav-tabs l-portfolio__tabs">
				<li><a class="btn active" data-toggle="tab" href="/services"><span>All</span></a></li>
				<li><a class="btn" data-toggle="tab" href="/backend-development"><span>Backend development</span></a></li>
				<li><a class="btn" data-toggle="tab" href="/frontend-development"><span>Frontend development</span></a></li>
				<li><a class="btn" data-toggle="tab" href="/mobile-development"><span>Mobile development</span></a></li>
				<li><a class="btn" data-toggle="tab" href="/cloud-development"><span>Cloud &amp; DevOps</span></a></li>
			</ul>

			<div class="tab-content">
				<div class="tab-pane active" id="all">
					<div class="row l-portfolio__archive">
						
							<div class="col-md-4 mb-5 
										portfolio-item">
								<div class="l-portfolio__portfolio-item">
									
										<a href="/backend-development">
											<div class="l-portfolio__item-image-wrapper">
												<div class="l-portfolio__item-image" data-cms-original-style="background-image: url('/assets/images/portfolio/project-1.jpg');" style="background-image: url(/assets/images/portfolio/project-1.jpg?_cchid=cb325a78c9092313d8ea6933b0f9f12c);">
												</div>
											</div>
										</a>
									
									<h3 class="l-portfolio__item-title"><a href="/backend-development">Backend development</a></h3>
									<p class="l-portfolio__item-description"></p><p>Risus habitasse dignissim integer egestas Vitae magna et senectus odio....</p>
								</div>
							</div>
						
							<div class="col-md-4 mb-5 
										portfolio-item">
								<div class="l-portfolio__portfolio-item">
									
										<a href="/frontend-development">
											<div class="l-portfolio__item-image-wrapper">
												<div class="l-portfolio__item-image" data-cms-original-style="background-image: url('/assets/images/portfolio/project-2.jpg');" style="background-image: url(/assets/images/portfolio/project-2.jpg?_cchid=9001f81d111b8cbc691704bfe4f595be);">
												</div>
											</div>
										</a>
									
									<h3 class="l-portfolio__item-title"><a href="/frontend-development">Frontend development</a></h3>
									<p class="l-portfolio__item-description"></p><p>Pellentesque adipiscing pharetra phasellus est nulla venenatis ligula Pharetra. Scelerisque...</p>
								</div>
							</div>
						
							<div class="col-md-4 mb-5 
										portfolio-item">
								<div class="l-portfolio__portfolio-item">
									
										<a href="/mobile-development">
											<div class="l-portfolio__item-image-wrapper">
												<div class="l-portfolio__item-image" data-cms-original-style="background-image: url('/assets/images/portfolio/project-3.jpg');" style="background-image: url(/assets/images/portfolio/project-3.jpg?_cchid=629941d3c09788c3977c22c0245487f1);">
												</div>
											</div>
										</a>
									
									<h3 class="l-portfolio__item-title"><a href="/mobile-development">Mobile development</a></h3>
									<p class="l-portfolio__item-description"></p><p>Turpis aenean ut neque, pellentesque quam, Nam neque in sed...</p>
								</div>
							</div>
						
							<div class="col-md-4 mb-5 
										portfolio-item">
								<div class="l-portfolio__portfolio-item">
									
										<a href="/cloud-development">
											<div class="l-portfolio__item-image-wrapper">
												<div class="l-portfolio__item-image" data-cms-original-style="background-image: url('/assets/images/portfolio/project-4.jpg');" style="background-image: url(/assets/images/portfolio/project-4.jpg?_cchid=ff5a851f266cac8f87ffde9250119e26);">
												</div>
											</div>
										</a>
									
									<h3 class="l-portfolio__item-title"><a href="/cloud-development">Cloud</a></h3>
									<p class="l-portfolio__item-description"></p><p>Lectus sit scelerisque risus, orci interdum gravida egestas eros volutpat...</p>
								</div>
							</div>
						
							<div class="col-md-4 mb-5 
										portfolio-item">
								<div class="l-portfolio__portfolio-item">
									
										<a href="/dot-net-development">
											<div class="l-portfolio__item-image-wrapper">
												<div class="l-portfolio__item-image" data-cms-original-style="background-image: url('/assets/images/portfolio/project-5.jpg');" style="background-image: url(/assets/images/portfolio/project-5.jpg?_cchid=f5bbd5be9c584baf1958606c6c9d1260);">
												</div>
											</div>
										</a>
									
									<h3 class="l-portfolio__item-title"><a href="/dot-net-development">.Net development</a></h3>
									<p class="l-portfolio__item-description"></p><p>Sagittis eu luctus feugiat massa. Sit augue in tristique auctor...</p>
								</div>
							</div>
						
							<div class="col-md-4 mb-5 
										portfolio-item">
								<div class="l-portfolio__portfolio-item">
									
										<a href="/node-js-development">
											<div class="l-portfolio__item-image-wrapper">
												<div class="l-portfolio__item-image" data-cms-original-style="background-image: url('/assets/images/portfolio/project-6.jpg');" style="background-image: url(/assets/images/portfolio/project-6.jpg?_cchid=0118366cefedb3a11e5fc65d64bc7fbc);">
												</div>
											</div>
										</a>
									
									<h3 class="l-portfolio__item-title"><a href="/node-js-development">Node.js development</a></h3>
									<p class="l-portfolio__item-description"></p><p>Mi fermentum amet sodales tellus id lorem ante pellentesque vulputate....</p>
								</div>
							</div>
						
							</div>
					<div class="text-center">
						
						<a class="btn button-standard" href="/page2">Next</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>