<section class="l-portfolio">
	<div class="container">
		<div class="l-portfolio__tabs-wrapper">
			<ul class="nav nav-tabs l-portfolio__tabs">
				<li><a class="btn active" data-toggle="tab" href="/services"><span>All</span></a></li>
				<li><a class="btn" data-toggle="tab" href="/backend-development"><span>Backend development</span></a></li>
				<li><a class="btn" data-toggle="tab" href="/frontend-development"><span>Frontend development</span></a></li>
				<li><a class="btn" data-toggle="tab" href="/mobile-development"><span>Mobile development</span></a></li>
				<li><a class="btn" data-toggle="tab" href="/cloud-development"><span>Cloud &amp; DevOps</span></a></li>
			</ul>

			<div class="tab-content">
				<div class="tab-pane active" id="all">
					<div class="row l-portfolio__archive">
						
							<div class="col-md-4 mb-5 
										portfolio-item">
								<div class="l-portfolio__portfolio-item">
									
										<a href="/backend-development">
											<div class="l-portfolio__item-image-wrapper">
												<div class="l-portfolio__item-image" data-cms-original-style="background-image: url('/assets/images/portfolio/project-1.jpg');" style="background-image: url(/assets/images/backend-development.jpg); background-size: 120%;">
												</div>
											</div>
										</a>
									
									<h3 class="l-portfolio__item-title"><a href="/backend-development">Backend development</a></h3>
									<p class="l-portfolio__item-description"></p><p>Outsource backend development to tackle development challenges head-on. ....</p>
								</div>
							</div>
						
							<div class="col-md-4 mb-5 
										portfolio-item">
								<div class="l-portfolio__portfolio-item">
									
										<a href="/frontend-development">
											<div class="l-portfolio__item-image-wrapper">
												<div class="l-portfolio__item-image" data-cms-original-style="background-image: url('/assets/images/portfolio/project-2.jpg');" style="background-image: url(/assets/images/frontend-development.jpg); background-size: 120%;">
												</div>
											</div>
										</a>
									
									<h3 class="l-portfolio__item-title"><a href="/frontend-development">Frontend development</a></h3>
									<p class="l-portfolio__item-description"></p><p>Effective front-end development enhances user engagement, improves...</p>
								</div>
							</div>
						
							<div class="col-md-4 mb-5 
										portfolio-item">
								<div class="l-portfolio__portfolio-item">
									
										<a href="/mobile-development">
											<div class="l-portfolio__item-image-wrapper">
												<div class="l-portfolio__item-image" data-cms-original-style="background-image: url('/assets/images/portfolio/project-3.jpg');" style="background-image: url(/assets/images/mobile-development.jpg); background-size: 120%;">
												</div>
											</div>
										</a>
									
									<h3 class="l-portfolio__item-title"><a href="/mobile-development">Mobile development</a></h3>
									<p class="l-portfolio__item-description"></p><p>Quality mobile development maximizes user reach, enhances ...</p>
								</div>
							</div>
						
							<div class="col-md-4 mb-5 
										portfolio-item">
								<div class="l-portfolio__portfolio-item">
									
										<a href="/cloud-development">
											<div class="l-portfolio__item-image-wrapper">
												<div class="l-portfolio__item-image" data-cms-original-style="background-image: url('/assets/images/portfolio/project-4.jpg');" style="background-image: url(/assets/images/cloud-development.jpg); background-size: 120%;">
												</div>
											</div>
										</a>
									
									<h3 class="l-portfolio__item-title"><a href="/cloud-development">Cloud</a></h3>
									<p class="l-portfolio__item-description"></p><p>Migrating apps to the cloud boosts scalability, enhances accessibility...</p>
								</div>
							</div>
						
							<div class="col-md-4 mb-5 
										portfolio-item">
								<div class="l-portfolio__portfolio-item">
									
										<a href="/dot-net-development">
											<div class="l-portfolio__item-image-wrapper">
												<div class="l-portfolio__item-image" data-cms-original-style="background-image: url('/assets/images/portfolio/project-5.jpg');" style="background-image: url(/assets/images/dot-net-development.jpg); background-size: 120%;">
												</div>
											</div>
										</a>
									
									<h3 class="l-portfolio__item-title"><a href="/dot-net-development">.Net development</a></h3>
									<p class="l-portfolio__item-description"></p><p>Quality .NET development ensures robust, secure...</p>
								</div>
							</div>
						
							<div class="col-md-4 mb-5 
										portfolio-item">
								<div class="l-portfolio__portfolio-item">
									
										<a href="/node-js-development">
											<div class="l-portfolio__item-image-wrapper">
												<div class="l-portfolio__item-image" data-cms-original-style="background-image: url('/assets/images/portfolio/project-6.jpg');" style="background-image: url(/assets/images/node-js-development.jpg); background-size: 120%;">
												</div>
											</div>
										</a>
									
									<h3 class="l-portfolio__item-title"><a href="/node-js-development">Node.js development</a></h3>
									<p class="l-portfolio__item-description"></p><p>Outsourcing Node.js development empowers businesses to leverage cutting-edge technology expertise....</p>
								</div>
							</div>
						
							</div>
					<div class="text-center">
						
						<!--Hidden <a class="btn button-standard" href="/page2">Next</a>---> 
					</div>
				</div>
			</div>
		</div>
	</div>
</section>