<section class="l-post-content-section">
	<div class="container">
		<div class="l-post-content-section">
			
				<!--
				<div class="l-post-content-section__post-image" data-cms-original-style="background-image: url('/assets/images/blogs/image-37.jpg');" style="background-image: url(/assets/images/blogs/image-37.jpg?_cchid=10fe6a2ec07e09ac0c3aea91580cc8c5);"></div>
				-->

			<div class="row">
				
				<div class="
								col-lg-8 
								col-md-12 
								
							">
					<h2 class="l-post-content-section__post-title">Privacy Policy</h2>
					<div class="l-post-content-section__content" data-cms-content-wrapper="/site/_includes/post-layout.html">
						<p>INTEGROSS Inc., along with its subsidiaries ("INTEGROSS"), has formulated this Privacy Policy in accordance with our dedication to safeguarding your privacy across INTEGROSS websites and marketing initiatives. The ensuing document elucidates INTEGROSS's procedures concerning information collection, distribution, and safeguarding.</p>

<h5 id="1-humanoid-robot">1. Humanoid Robot</h5>

<p>A humanoid robot is a robot that is claimed to be able to learn from interactions with humans, then it will store data about the behavior of these interactions using cloud storage based on an AI system. One of them is a Humanoid Robot created by Softbank named Pepper, which has a height of 1 meter and a tablet on its chest.</p>

<h5 id="2-website-or-application-recommendations">2. Website or Application Recommendations</h5>

<p>When we access an application, it is often found that we recommend content or products that are similar to what we are looking for or that we enjoy when accessing the platform. It could be done because they used Artificial Intelligence.</p>

<h5 id="3-virtual-assistant">3. Virtual Assistant</h5>

<p>Currently, the virtual assistant that we can use today is quite a lot of choices, for example, such as Siri, Cortana, and Google Assistant. You can also command this virtual assistant to perform various activities such as sending messages, calling someone, playing music, turning on house lights, opening applications, and many others. Is it sophisticated?</p>

<h5 id="4-ai-camera">4. AI Camera</h5>

<p>On smartphones, apart from face unlock that uses AI to unlock quickly and accurately. It turns out that AI is also used to improve the lens’s ability to take pictures or record videos, detect objects automatically, and maximize settings so that the quality will be better.</p>

<h5 id="conclusion-">Conclusion :</h5>

<p>Artificial Intelligence (AI) is currently a technology that has begun to be widely used daily. AI will be increasingly used because scientists are interested in developing and presenting innovations that will certainly be needed to facilitate human work in the future.</p>

					</div>
				</div>

				<!---<div class="					col-lg-4 
								col-md-12 
								
							">

					
						
							
								
							
								
									<div class="l-post-content-section__author-details 
												">
										<div class="row">
											<div class="col-md-4">
												<div class="l-post-content-section__author-image-wrapper">
													<div class="l-post-content-section__author-image-frame">
														<div class="l-post-content-section__author-image" style="background-image: url('/assets/images/team-members/danney-johnson.jpg"></div>
													</div>
												</div>
											</div>

											<div class="col-md-8">
												<div class="l-post-content-section__author-detail">
													<h6>Written by:</h6>
													<h4>Danney Johnson</h4>
													<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
</p>
												</div>
											</div>
										</div>
									</div>
								
							
								
							
								
							
								
							
								
							
						
					

					
						<div class="
										row
									">
							
								
									<div class="col-md-4"></div>
									<div class="col-md-8">



	<div class="social-share-section">
		<h6>Share article:</h6>
		<div class="social-share-section__social-share">
			
			<span>
				<a href="https://www.linkedin.com/shareArticle?mini=true&amp;url=/blog/let's-get-to-know-what-artificial-intelligence-is/&amp;title=Let's Get To Know What Artificial Intelligence Is&amp;summary=&amp;source=" target="_blank">
					<i class="fab 
							  fa-linkedin-in 
							  social-icon"></i>
					</a>
			</span>
			
			<span>
				<a href="https://twitter.com/intent/tweet?text=Let's Get To Know What Artificial Intelligence Is&amp;url=/blog/let's-get-to-know-what-artificial-intelligence-is/" target="_blank">
					<i class="fab 
							  fa-twitter 
							  social-icon"></i>
				</a>
			</span>
			
			<span>
				<a href="#">
					<i class="fab fa-instagram"></i>
				</a>
			</span>
		</div>
	</div>

</div>
								
							
						</div>
					
				</div>-->
			</div>
		</div>
	</div>
</section>