<section class="l-post-content-section">
	<div class="container">
		<div class="l-post-content-section">
			
				<!--
				<div class="l-post-content-section__post-image" data-cms-original-style="background-image: url('/assets/images/blogs/image-37.jpg');" style="background-image: url(/assets/images/blogs/image-37.jpg?_cchid=10fe6a2ec07e09ac0c3aea91580cc8c5);"></div>
				-->

			<div class="row">
				
				<div class="
								col-lg-8 
								col-md-12 
								
							">
					<h2 class="l-post-content-section__post-title">Privacy Policy</h2>
					<div class="l-post-content-section__content" data-cms-content-wrapper="/site/_includes/post-layout.html">
						<p>INTEGROSS Inc., along with its subsidiaries ("INTEGROSS"), has formulated this Privacy Policy in accordance with our dedication to safeguarding your privacy across INTEGROSS websites and marketing initiatives. The ensuing document elucidates INTEGROSS's procedures concerning information collection, distribution, and safeguarding.</p>

<h5 id="1-humanoid-robot">1. Compliance</h5>

<p>If you do not consent to the terms outlined in this Privacy Policy, kindly refrain from accessing or utilizing INTEGROSS websites. If you desire to cease receiving marketing materials from INTEGROSS, please click the Unsubscribe button provided within any marketing emails received from us.</p>
<h5 id="2-website-or-application-recommendations">2. Collection of information</h5>

<p>INTEGROSS collects information to provide better services to its users and to better understand the visitors to its websites and what content is of interest to them. INTEGROSS collects information in the following ways:</p>

<ul>
  <li>Information you affirmatively choose to submit to us (such as your name, email address, company name, title, country) for the purpose of accessing various downloads, viewing specific content, subscribing to INTEGROSS newsletters, registering for events and your preferences in receiving marketing from INTEGROSS and its third party partners and your communication preferences, etc. Information we have obtained about you from publicly available sources such as social media, marketing platforms or on events, you attended. You will receive marketing communications from INTEGROSS if you have requested information from INTEGROSS or you or your employer has purchased services from INTEGROSS;</li>
  <li>Information INTEGROSS receives from your use of INTEGROSS websites, such as the IP address, browser type, ISP, referring/exit pages, platform type, date/time stamp, number of clicks, domain name and country/state of all visitors to INTEGROSS’s websites;</li>
  <li>Location information when you use INTEGROSS’s websites as INTEGROSS may collect and process information about your location. INTEGROSS use various technologies and tools to determine location;</li>
  <li>Information that is considered aggregated data such as statistical or demographic data which INTEGROSS may use for any purpose.  Aggregated data may be derived from your personal information but is not considered personal information in law as it does not directly or indirectly reveal your identity, unless INTEGROSS combines or connects aggregated data with your personal information so that it can directly or indirectly identify you; and</li>
  <li>INTEGROSS collects technical data from various third parties and public sources as, such as:</li>
  <ul>
    <li>analytics providers</li>
    <li>advertising networks</li>
    <li>search information providers</li>
  </ul>
</ul>
<p>
Except as required by law, INTEGROSS websites refrain from collecting any special categories of personal information about you. This includes details regarding race or ethnicity, religious beliefs, sex life, sexual orientation, political opinions, trade union membership, health information, genetic or biometric data, as well as details about criminal convictions and offenses.
</p>
<p>
INTEGROSS will solely utilize your personal information for the purposes it was initially collected, unless it deems it necessary to employ it for another compatible reason. In the event that INTEGROSS intends to use your personal information for an unrelated purpose, we will inform you and elucidate the legal basis permitting us to do so.
</p>






<h5 id="3-virtual-assistant">3. Sharing of Information</h5>

<p>Currently, the virtual assistant that we can use today is quite a lot of choices, for example, such as Siri, Cortana, and Google Assistant. You can also command this virtual assistant to perform various activities such as sending messages, calling someone, playing music, turning on house lights, opening applications, and many others. Is it sophisticated?</p>

<h5 id="4-ai-camera">4. AI Camera</h5>

<p>On smartphones, apart from face unlock that uses AI to unlock quickly and accurately. It turns out that AI is also used to improve the lens’s ability to take pictures or record videos, detect objects automatically, and maximize settings so that the quality will be better.</p>

<h5 id="conclusion-">Conclusion :</h5>

<p>Artificial Intelligence (AI) is currently a technology that has begun to be widely used daily. AI will be increasingly used because scientists are interested in developing and presenting innovations that will certainly be needed to facilitate human work in the future.</p>

					</div>
				</div>

				<!---<div class="					col-lg-4 
								col-md-12 
								
							">

					
						
							
								
							
								
									<div class="l-post-content-section__author-details 
												">
										<div class="row">
											<div class="col-md-4">
												<div class="l-post-content-section__author-image-wrapper">
													<div class="l-post-content-section__author-image-frame">
														<div class="l-post-content-section__author-image" style="background-image: url('/assets/images/team-members/danney-johnson.jpg"></div>
													</div>
												</div>
											</div>

											<div class="col-md-8">
												<div class="l-post-content-section__author-detail">
													<h6>Written by:</h6>
													<h4>Danney Johnson</h4>
													<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
</p>
												</div>
											</div>
										</div>
									</div>
								
							
								
							
								
							
								
							
								
							
						
					

					
						<div class="
										row
									">
							
								
									<div class="col-md-4"></div>
									<div class="col-md-8">



	<div class="social-share-section">
		<h6>Share article:</h6>
		<div class="social-share-section__social-share">
			
			<span>
				<a href="https://www.linkedin.com/shareArticle?mini=true&amp;url=/blog/let's-get-to-know-what-artificial-intelligence-is/&amp;title=Let's Get To Know What Artificial Intelligence Is&amp;summary=&amp;source=" target="_blank">
					<i class="fab 
							  fa-linkedin-in 
							  social-icon"></i>
					</a>
			</span>
			
			<span>
				<a href="https://twitter.com/intent/tweet?text=Let's Get To Know What Artificial Intelligence Is&amp;url=/blog/let's-get-to-know-what-artificial-intelligence-is/" target="_blank">
					<i class="fab 
							  fa-twitter 
							  social-icon"></i>
				</a>
			</span>
			
			<span>
				<a href="#">
					<i class="fab fa-instagram"></i>
				</a>
			</span>
		</div>
	</div>

</div>
								
							
						</div>
					
				</div>-->
			</div>
		</div>
	</div>
</section>