<section class="l-post-content-section">
	<div class="container">
		<div class="l-post-content-section">
			
				<!--
				<div class="l-post-content-section__post-image" data-cms-original-style="background-image: url('/assets/images/blogs/image-37.jpg');" style="background-image: url(/assets/images/blogs/image-37.jpg?_cchid=10fe6a2ec07e09ac0c3aea91580cc8c5);"></div>
				-->

			<div class="row">
				
				<div class="
								col-lg-8 
								col-md-12 
								
							">
					<h2 class="l-post-content-section__post-title">Privacy Policy</h2>
					<div class="l-post-content-section__content" data-cms-content-wrapper="/site/_includes/post-layout.html">
						<p>INTEGROSS Inc., along with its subsidiaries ("INTEGROSS"), has formulated this Privacy Policy in accordance with our dedication to safeguarding your privacy across INTEGROSS websites and marketing initiatives. The ensuing document elucidates INTEGROSS's procedures concerning information collection, distribution, and safeguarding.</p>

<h5 id="1-humanoid-robot">Compliance</h5>

<p>If you do not consent to the terms outlined in this Privacy Policy, kindly refrain from accessing or utilizing INTEGROSS websites. If you desire to cease receiving marketing materials from INTEGROSS, please click the Unsubscribe button provided within any marketing emails received from us.</p>
<h5 id="2-website-or-application-recommendations">Collection of information</h5>

<p>INTEGROSS collects information to provide better services to its users and to better understand the visitors to its websites and what content is of interest to them. INTEGROSS collects information in the following ways:</p>

<ul>
  <li>Information you affirmatively choose to submit to us (such as your name, email address, company name, title, country) for the purpose of accessing various downloads, viewing specific content, subscribing to INTEGROSS newsletters, registering for events and your preferences in receiving marketing from INTEGROSS and its third party partners and your communication preferences, etc. Information we have obtained about you from publicly available sources such as social media, marketing platforms or on events, you attended. You will receive marketing communications from INTEGROSS if you have requested information from INTEGROSS or you or your employer has purchased services from INTEGROSS;</li>
  <li>Information INTEGROSS receives from your use of INTEGROSS websites, such as the IP address, browser type, ISP, referring/exit pages, platform type, date/time stamp, number of clicks, domain name and country/state of all visitors to INTEGROSS’s websites;</li>
  <li>Location information when you use INTEGROSS’s websites as INTEGROSS may collect and process information about your location. INTEGROSS use various technologies and tools to determine location;</li>
  <li>Information that is considered aggregated data such as statistical or demographic data which INTEGROSS may use for any purpose.  Aggregated data may be derived from your personal information but is not considered personal information in law as it does not directly or indirectly reveal your identity, unless INTEGROSS combines or connects aggregated data with your personal information so that it can directly or indirectly identify you; and</li>
  <li>INTEGROSS collects technical data from various third parties and public sources as, such as:</li>
  <ul>
    <li>analytics providers</li>
    <li>advertising networks</li>
    <li>search information providers</li>
  </ul>
</ul>
<p>
Except as required by law, INTEGROSS websites refrain from collecting any special categories of personal information about you. This includes details regarding race or ethnicity, religious beliefs, sex life, sexual orientation, political opinions, trade union membership, health information, genetic or biometric data, as well as details about criminal convictions and offenses.
</p>
<p>
INTEGROSS will solely utilize your personal information for the purposes it was initially collected, unless it deems it necessary to employ it for another compatible reason. In the event that INTEGROSS intends to use your personal information for an unrelated purpose, we will inform you and elucidate the legal basis permitting us to do so.
</p>






<h5 id="3-virtual-assistant">Sharing of Information</h5>

<p>INTEGROSS may disclose your personal information to the following categories of recipients:</p>

<ul>
  <li>
    <p>To its group companies, professional advisers, third-party service providers, and partners who offer data processing services to INTEGROSS. This includes supporting website delivery, providing functionality, or enhancing security. These recipients may also process personal information for purposes outlined in Privacy Notices or communicated to you when your personal information is collected. A list of INTEGROSS’s current group companies is available upon request.</p>
  </li>
  <li>
    <p>To any competent law enforcement body, regulatory authority, government agency, court, or other third party where INTEGROSS believes disclosure is necessary:</p>
    <ul>
      <li>As required by applicable law or regulation.</li>
      <li>To exercise, establish, or defend legal rights.</li>
      <li>To protect your vital interests or those of any other person.</li>
    </ul>
  </li>
  <li>To any other individual or entity with your explicit consent for the disclosure.</li>
</ul>

<h5 id="4-ai-camera">Legal Basis of Processing</h5>

<p>If your personal information is protected by EU data protection law, the legal basis for INTEGROSS's collection and use of the described personal information will depend on the specific context and the nature of the personal information. INTEGROSS will typically collect personal information in the following circumstances:</p>

<ol>
  <li>Where it is necessary for the performance of a contract with you.</li>
  <li>When the processing aligns with INTEGROSS's legitimate interests and is not overridden by your rights.</li>
  <li>When explicit consent has been obtained.</li>
</ol>

<p>Additionally, there may be cases where INTEGROSS has a legal obligation to collect personal information or where such collection is necessary to protect vital interests, either yours or those of another person.</p>

<p>For inquiries or additional information regarding the legal basis for the collection and use of your personal information, please reach out to INTEGROSS using the contact details provided under the "Contact Details" heading below and in the right-hand side column.</p>

<h5 id="conclusion-">Use of Information</h5>
<p>Any information collected by INTEGROSS will be done in accordance with this Privacy Policy for the purposes of making better business decisions, supporting the activities you choose to engage in, and providing higher quality solutions and services to INTEGROSS’s customers.</p>

<p>INTEGROSS uses your location information to tailor your experience with INTEGROSS websites. It may also use any non-personal information collected to enhance INTEGROSS websites, and your IP address for website diagnostics and administration.</p>

<p>INTEGROSS will only retain your personal information for as long as necessary to fulfill the purposes it was collected it for, including for the purposes of satisfying any legal, accounting, or reporting requirements.</p>

<p>To determine the appropriate retention period for personal information, INTEGROSS considers the amount, nature, and sensitivity of the personal information, the potential risk of harm from unauthorized use or disclosure of your personal information, the purposes for which INTEGROSS processes your personal information and whether it can achieve those purposes through other means, and the applicable legal requirements.</p>

<h5 id="conclusion-">International Transfers</h5>
<p>INTEGROSS processes information on servers located in various countries worldwide. By using our services, you acknowledge and consent to your personal information being processed on servers situated outside your country of residence. These countries may have different data protection laws compared to your own, and in some instances, they may not offer the same level of protection. However, INTEGROSS has implemented appropriate measures to ensure that your personal information remains safeguarded in accordance with this Privacy Policy.</p>

<p>These measures include utilizing the European Commission’s Standard Contractual Clauses for transfers of personal information between its group companies. This framework mandates all group entities to uphold a level of protection for personal information equivalent to that required under European Union data protection law, particularly when transferring personal information from the European Economic Area to locations outside it.</p>

<h5>Information Security</h5>

<p>INTEGROSS safeguards your personal information akin to its other confidential data. This involves storing it on secure servers accessible only to designated INTEGROSS personnel and encrypting it to thwart unauthorized access. Procedures are in place to address any personal information breaches, with notifications issued to you and relevant regulators when mandated by law.</p>

<h5>Marketing</h5>

<p>As detailed earlier, INTEGROSS collects and utilizes your personal data for marketing endeavors, storing it in our CRM system. Expect communications regarding INTEGROSS products and services we believe may interest you, along with newsletters. We gather information about your email responses and interactions for statistical purposes to inform future marketing decisions. Should you wish to opt-out of this data collection and utilization, please contact <a href="mailto:privacy@Integross.com">privacy@Integross.com</a>.</p>

<h5>Links</h5>

<p>INTEGROSS websites feature links, plug-ins, and applications to various third-party websites. Clicking on these links or enabling such connections may enable third parties to gather or share data about you. INTEGROSS disclaims control over and responsibility for the content, privacy policies, or reliability of such third-party connections. Upon leaving INTEGROSS’s website, we advise reviewing the privacy notice and policy of each visited website.</p>

<h5>Your Data Protection Rights</h5>

<p>If your personal information falls under EU data protection law, you possess the following data protection rights:</p>
<ul>
  <li>Access, correction, updating, or deletion of your personal information.</li>
  <li>Objecting to processing, requesting processing restriction, or personal data portability.</li>
  <li>Opting out of marketing communications by utilizing the provided "unsubscribe" or "opt-out" links in marketing emails or relevant mechanisms for non-email based marketing.</li>
  <li>Withdrawing consent for processing personal information, without affecting prior lawful processing.</li>
  <li>Filing complaints with a data protection authority.</li>
</ul>
<p>No fee is required to access personal information or exercise these rights unless requests are deemed unfounded, repetitive, or excessive. INTEGROSS endeavors to respond to legitimate requests within one month.</p>

<h5>Cookies</h5>

<p>You can configure your browser to refuse all or some browser cookies, or to alert you when websites set or access cookies. If you disable or refuse cookies, some parts of INTEGROSS websites may become inaccessible or not function properly. For more information about the cookies that INTEGROSS uses, please see <a href="insert_cookie_policy_link_here">INTEGROSS’s Cookie Policy</a>.</p>

<h5>Changes to the Policy</h5>

<p>INTEGROSS reserves the right to modify or amend this Privacy Policy at its own discretion from time to time. The changes can be viewed here or elsewhere on INTEGROSS websites. Your continued use of INTEGROSS websites constitutes your acceptance of those changes.</p>

<p>This version was last updated on 06 January 2024 and historic versions can be obtained by contacting INTEGROSS.</p>

<h5>Contact Details</h5>

<p>It is important that the personal information INTEGROSS holds about you is accurate and current. Please keep INTEGROSS informed if your personal information changes during your relationship with INTEGROSS. Additionally, if you have any questions about this Privacy Policy, the practices of INTEGROSS websites, or your interaction with INTEGROSS via INTEGROSS websites, please contact:</p>


					</div>
				</div>

			</div>
		</div>
	</div>
</section>