<div class="container 
			c-testimonials">
	<div class="c-testimonials__heading-wrapper">
		
			<div class="c-testimonials__caption-title">
				<h4>
					<span class="pr-3">Testimonials</span>
				</h4>
			</div>
		

		
			<div class="c-testimonials__title">
				<div class="row 
							justify-content-between">
					<div class="col-md-6">
						<h2>
							What our customers are saying
						</h2>
					</div>
					<div class="col-md-6"></div>
				</div>
			</div>
		
	</div>


	<div class="row 
				justify-content-between">
		
			<div class="col-md-7 
						order-1 
						mb-4">
				<div class="c-testimonials__main-image" data-cms-original-style="background-image:url('/assets/images/homepage/client-home.jpg')" style="background-image:url(/assets/images/homepage/client-home.jpg)">
					<img alt="Testimonial image" class="img-fluid 
								c-testimonials__quote-image" data-cms-original-src="/assets/images/homepage/quote-img.png" src="/assets/images/homepage/quote-img.png">
				</div>
			</div>
		

		<div class="col-md-4 
					order-2">
			<div class="c-testimonials__content">
				
					<div class="c-testimonials__testimonial-heading">
						<h2>"They helped where its really needed." </h2>
					</div>
				

				
					<div class="c-testimonials__testimonial-content">
						<p></p><p>“For the past 9 months, Integross has been a steadfast support in crafting and implementing customized software solutions for our business. Our experience with their developers has been exceptional, as the team proves to be reliable, thorough, intelligent, available, excellent communicators, and incredibly friendly. We wholeheartedly recommend Integross to anyone seeking a highly productive and solution-driven team.”</p><p></p>
					</div>
				

				
					<div class="c-testimonials__testimonial-name">
						<h4>Daniel Samford</h4>

						
							<p class="c-testimonials__testimonial-designation">Head of development at Fintech company</p>
						
					</div>
				
			</div>
		</div>
	</div>
</div>