<title>Software Development Company | Integross</title>
<meta name="description" content="Integross offers cutting-edge, customized software development services, harnessing a diverse range of the latest technologies, supported by our team of specialized developers." />
<meta name="keywords" content="Software Development Company, Software Services, Custom Software Development, Outsourced Developers" />
<link rel="canonical" href="https://integross.com/technologies" />
<meta name="robots" content="index, follow" />
<link rel="alternate" hreflang="en" href="https://integross.com/technologies" />
<script type="application/ld+json">
{
"@context":"https://schema.org",
"@type":"WebPage",
"headline":"Software Development Company",
"url":"https://integross.com/technologies",
"about":
[{"@type": "thing", "name": "ruby on rails", "sameAs": "http://en.wikipedia.org/wiki/Ruby_on_Rails"},
{"@type": "thing", "name": "software", "sameAs": "http://en.wikipedia.org/wiki/Software"},
{"@type": "thing", "name": "framework", "sameAs": "http://en.wikipedia.org/wiki/Software_framework"},
{"@type": "thing", "name": "app", "sameAs": "http://en.wikipedia.org/wiki/Mobile_app"},
{"@type": "thing", "name": "web development", "sameAs": "http://en.wikipedia.org/wiki/Web_development"},
{"@type": "thing", "name": "outsourcing", "sameAs": "http://en.wikipedia.org/wiki/Outsourcing"},
{"@type": "thing", "name": "web applications", "sameAs": "http://en.wikipedia.org/wiki/Web_application"},
{"@type": "thing", "name": "ruby", "sameAs": "http://en.wikipedia.org/wiki/Ruby_(programming_language)"}],
"mentions":
[
{"@type": "thing", "name": "devops", "sameAs": ["http://en.wikipedia.org/wiki/DevOps",
"https://www.google.com/search?q=devops&kgmid=/m/0c3tq11"]},
{"@type": "thing", "name": "RubyGems", "sameAs": ["https://en.wikipedia.org/wiki/RubyGems",
"https://www.google.com/search?kgmid=/m/087sw5"]}
]
}
</script>