<section class="c-team-list">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 
						col-md-8">
				
					<div class="c-team-list__content text-left">
						

						
							<h1 class="c-team-list__title">
								Meet our team
							</h1>
						

						
							<div class="c-team-list__description">
								<p></p><p>To be the company our customers want us to be, it takes an eclectic and talented group who are passionate about the customer experience. Get to know the people leading the way at Dante.</p><p></p>
							</div>
						
					</div>
				
			</div>
			<div class="col-lg-6 
						col-md-4"></div>
		</div>

		<div class="c-team-list__team-members">
			<div class="row 
						mb-5">
				
					<div class="col-md-4">
						<div class="c-team-list__team-member">
							<div class="c-team-list__image-wrapper">
								<a href="/staff_members/dane-emerson.html">
									<div class="c-team-list__image" data-cms-original-style="background-image: url('/assets/images/team-members/dane-emerson.jpg');" style="background-image: url(/assets/images/team-members/dane-emerson.jpg?_cchid=d2f570d2f5944f8902fc77019dbeafbb);"></div>
								</a>
							</div>
							<div class="c-team-list__info-block">
								<a href="/staff_members/dane-emerson.html">
									<h5 class="c-team-list__name">Dane Emerson</h5>
								</a>
								<p class="c-team-list__designation">Marketing</p>
								<div class="c-team-list__social-links">
									
										
											<a href="#">
												<img alt="facebook-icon" class="share-icons" data-cms-original-src="/assets/images/social-share-icon/facebook-icon.png" src="/assets/images/social-share-icon/facebook-icon.png?_cchid=d40521b843b9209f2d0a46fe4b143f3d">
											</a>
										
										
											<a href="#">
												<img alt="linkedin-icon" class="share-icons" data-cms-original-src="/assets/images/social-share-icon/linkedin-icon.png" src="/assets/images/social-share-icon/linkedin-icon.png?_cchid=c39e3ed25b4134731141cda025ac84ba">
											</a>
										
										
											<a href="#">
												<img alt="twitter-icon" class="share-icons" data-cms-original-src="/assets/images/social-share-icon/twitter-icon.png" src="/assets/images/social-share-icon/twitter-icon.png?_cchid=becc183f189a0ffde06534d64bcd59ab">
											</a>
										
									
								</div>
							</div>
						</div>
					</div>
				
					<div class="col-md-4">
						<div class="c-team-list__team-member">
							<div class="c-team-list__image-wrapper">
								<a href="/staff_members/danney-johnson.html">
									<div class="c-team-list__image" data-cms-original-style="background-image: url('/assets/images/team-members/danney-johnson.jpg');" style="background-image: url(/assets/images/team-members/danney-johnson.jpg?_cchid=b1e39e1f8509a7845d9732e482b92273);"></div>
								</a>
							</div>
							<div class="c-team-list__info-block">
								<a href="/staff_members/danney-johnson.html">
									<h5 class="c-team-list__name">Danney Johnson</h5>
								</a>
								<p class="c-team-list__designation">Founder &amp; CEO</p>
								<div class="c-team-list__social-links">
									
										
											<a href="#">
												<img alt="facebook-icon" class="share-icons" data-cms-original-src="/assets/images/social-share-icon/facebook-icon.png" src="/assets/images/social-share-icon/facebook-icon.png?_cchid=d40521b843b9209f2d0a46fe4b143f3d">
											</a>
										
										
											<a href="#">
												<img alt="linkedin-icon" class="share-icons" data-cms-original-src="/assets/images/social-share-icon/linkedin-icon.png" src="/assets/images/social-share-icon/linkedin-icon.png?_cchid=c39e3ed25b4134731141cda025ac84ba">
											</a>
										
										
											<a href="#">
												<img alt="twitter-icon" class="share-icons" data-cms-original-src="/assets/images/social-share-icon/twitter-icon.png" src="/assets/images/social-share-icon/twitter-icon.png?_cchid=becc183f189a0ffde06534d64bcd59ab">
											</a>
										
									
								</div>
							</div>
						</div>
					</div>
				
					<div class="col-md-4">
						<div class="c-team-list__team-member">
							<div class="c-team-list__image-wrapper">
								<a href="/staff_members/hannah-khanwald.html">
									<div class="c-team-list__image" data-cms-original-style="background-image: url('/assets/images/team-members/hannah-khanwald.jpg');" style="background-image: url(/assets/images/team-members/hannah-khanwald.jpg?_cchid=1eaa4659a52175c98c9655ea3739e0fb);"></div>
								</a>
							</div>
							<div class="c-team-list__info-block">
								<a href="/staff_members/hannah-khanwald.html">
									<h5 class="c-team-list__name">Hannah Khanwald</h5>
								</a>
								<p class="c-team-list__designation">Marketing</p>
								<div class="c-team-list__social-links">
									
										
											<a href="#">
												<img alt="facebook-icon" class="share-icons" data-cms-original-src="/assets/images/social-share-icon/facebook-icon.png" src="/assets/images/social-share-icon/facebook-icon.png?_cchid=d40521b843b9209f2d0a46fe4b143f3d">
											</a>
										
										
											<a href="#">
												<img alt="linkedin-icon" class="share-icons" data-cms-original-src="/assets/images/social-share-icon/linkedin-icon.png" src="/assets/images/social-share-icon/linkedin-icon.png?_cchid=c39e3ed25b4134731141cda025ac84ba">
											</a>
										
										
											<a href="#">
												<img alt="twitter-icon" class="share-icons" data-cms-original-src="/assets/images/social-share-icon/twitter-icon.png" src="/assets/images/social-share-icon/twitter-icon.png?_cchid=becc183f189a0ffde06534d64bcd59ab">
											</a>
										
									
								</div>
							</div>
						</div>
					</div>
				
					<div class="col-md-4">
						<div class="c-team-list__team-member">
							<div class="c-team-list__image-wrapper">
								<a href="/staff_members/hermionie-granger.html">
									<div class="c-team-list__image" data-cms-original-style="background-image: url('/assets/images/team-members/hermionie-granger.jpg');" style="background-image: url(/assets/images/team-members/hermionie-granger.jpg?_cchid=560279e044ed3737b5b1b949565c3472);"></div>
								</a>
							</div>
							<div class="c-team-list__info-block">
								<a href="/staff_members/hermionie-granger.html">
									<h5 class="c-team-list__name">Hermionie Granger</h5>
								</a>
								<p class="c-team-list__designation">Founder &amp; CEO</p>
								<div class="c-team-list__social-links">
									
										
											<a href="#">
												<img alt="facebook-icon" class="share-icons" data-cms-original-src="/assets/images/social-share-icon/facebook-icon.png" src="/assets/images/social-share-icon/facebook-icon.png?_cchid=d40521b843b9209f2d0a46fe4b143f3d">
											</a>
										
										
											<a href="#">
												<img alt="linkedin-icon" class="share-icons" data-cms-original-src="/assets/images/social-share-icon/linkedin-icon.png" src="/assets/images/social-share-icon/linkedin-icon.png?_cchid=c39e3ed25b4134731141cda025ac84ba">
											</a>
										
										
											<a href="#">
												<img alt="twitter-icon" class="share-icons" data-cms-original-src="/assets/images/social-share-icon/twitter-icon.png" src="/assets/images/social-share-icon/twitter-icon.png?_cchid=becc183f189a0ffde06534d64bcd59ab">
											</a>
										
									
								</div>
							</div>
						</div>
					</div>
				
					<div class="col-md-4">
						<div class="c-team-list__team-member">
							<div class="c-team-list__image-wrapper">
								<a href="/staff_members/klara-kimberline.html">
									<div class="c-team-list__image" data-cms-original-style="background-image: url('/assets/images/team-members/klara-kimberline.jpg');" style="background-image: url(/assets/images/team-members/klara-kimberline.jpg?_cchid=7931a56701ea6fef126cbbd4f1f1ba01);"></div>
								</a>
							</div>
							<div class="c-team-list__info-block">
								<a href="/staff_members/klara-kimberline.html">
									<h5 class="c-team-list__name">Klara Kimberline</h5>
								</a>
								<p class="c-team-list__designation">Business</p>
								<div class="c-team-list__social-links">
									
										
											<a href="#">
												<img alt="facebook-icon" class="share-icons" data-cms-original-src="/assets/images/social-share-icon/facebook-icon.png" src="/assets/images/social-share-icon/facebook-icon.png?_cchid=d40521b843b9209f2d0a46fe4b143f3d">
											</a>
										
										
											<a href="#">
												<img alt="linkedin-icon" class="share-icons" data-cms-original-src="/assets/images/social-share-icon/linkedin-icon.png" src="/assets/images/social-share-icon/linkedin-icon.png?_cchid=c39e3ed25b4134731141cda025ac84ba">
											</a>
										
										
											<a href="#">
												<img alt="twitter-icon" class="share-icons" data-cms-original-src="/assets/images/social-share-icon/twitter-icon.png" src="/assets/images/social-share-icon/twitter-icon.png?_cchid=becc183f189a0ffde06534d64bcd59ab">
											</a>
										
									
								</div>
							</div>
						</div>
					</div>
				
					<div class="col-md-4">
						<div class="c-team-list__team-member">
							<div class="c-team-list__image-wrapper">
								<a href="/staff_members/wilson-kumbara.html">
									<div class="c-team-list__image" data-cms-original-style="background-image: url('/assets/images/team-members/wilson-kumbara.jpg');" style="background-image: url(/assets/images/team-members/wilson-kumbara.jpg?_cchid=3eef83770ea35116d507a3a94feb74c3);"></div>
								</a>
							</div>
							<div class="c-team-list__info-block">
								<a href="/staff_members/wilson-kumbara.html">
									<h5 class="c-team-list__name">Wilson Kumbara</h5>
								</a>
								<p class="c-team-list__designation">Business</p>
								<div class="c-team-list__social-links">
									
										
											<a href="#">
												<img alt="facebook-icon" class="share-icons" data-cms-original-src="/assets/images/social-share-icon/facebook-icon.png" src="/assets/images/social-share-icon/facebook-icon.png?_cchid=d40521b843b9209f2d0a46fe4b143f3d">
											</a>
										
										
											<a href="#">
												<img alt="linkedin-icon" class="share-icons" data-cms-original-src="/assets/images/social-share-icon/linkedin-icon.png" src="/assets/images/social-share-icon/linkedin-icon.png?_cchid=c39e3ed25b4134731141cda025ac84ba">
											</a>
										
										
											<a href="#">
												<img alt="twitter-icon" class="share-icons" data-cms-original-src="/assets/images/social-share-icon/twitter-icon.png" src="/assets/images/social-share-icon/twitter-icon.png?_cchid=becc183f189a0ffde06534d64bcd59ab">
											</a>
										
									
								</div>
							</div>
						</div>
					</div>
				
			</div>

			
				<div class="row">
					<div class="col-md-4"></div>
					<div class="col-md-4">
						<div class="text-center">
							<a class="btn c-team-list__more-button" href="/team/" role="button">See more</a>
						</div>
					</div>
					<div class="col-md-4"></div>
				</div>
			
		</div>
</div></section>