<section class="c-hero-content c-hero-content-1">

	
	<div class="
					container
				">
		<div class="row">

			<div class="col-lg-6 
						col-md-12 
						 
						order-2 
						align-self-center 
						c-hero-content__column 
						c-hero-content__content">
				

				
					<div class="c-hero-content__title">
						<h1>Work together. Develop better.</h1>
					</div>
				

				
					<div class="c-hero-content__description">
						<p></p><p>We're committed to fostering the expansion of your digital services, spanning mobile development, web development and desktop applications — a comprehensive solution for all your needs.</p><p></p>
					</div>
				

				
					<div class="c-hero-content__button-wrapper">
						
						<div class="c-hero-content__button">
							<a class="btn" href="#" role="button">Find out more</a>
						</div>
						

						
					</div>
				
			</div>

			<div class="col-lg-6 
						col-md-12 
						 
						order-1 
						align-self-center 
						c-hero-content__image 
						c-hero-content__column">
				
					<img alt="Hero image" class="img-fluid" data-cms-original-src="/assets/images/homepage/Hero-Illustration-Ani.svg" src="/assets/images/technologies-hero.png" style="object-fit: cover">
				
			</div>
		</div>
	</div>
</section>